 body{
  background-image:url("https://darraghmcgee.files.wordpress.com/2012/03/rtd1.jpg");  
  background-repeat: no-repeat;
  background-size: cover;
 }

 .six{
    box-shadow:0 8px 12px gray,0 8px 12px gray;
    margin-right:30%;
    margin-left:30%;
    margin-top:10%;
    
    background-image:url("https://darraghmcgee.files.wordpress.com/2012/03/rtd1.jpg");
    color:whitesmoke;
    padding:20px 20px;
    font-size:20px;
}
h1{
    font-style: italic;
    color:#4B4E08;
}